.main-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .sidebar {
    width: 40vw;
    height: 100vh;
    background-color: #ddd;
    overflow-y: scroll;
    scrollbar-width: none;
    border-right: 1px solid #ccc;
  }

  .file-content {
    width: 60vw;
    height: 100vh;
    overflow-y: scroll;
    text-align: left;
    padding-left: 10px;
    scrollbar-width: none;
  }
}
